main {
  max-width:1400px;
  margin:0 auto;

  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 10px;
}

@media (max-width: 1440px) {
  main {
  max-width:100%;
  margin:0 auto;
      grid-template-rows: 50% 50%;
    grid-template-columns: initial;
}

}



main {
  margin-top:10px;
}

section {
  border:5px solid red;
}

aside {
  border:5px solid green;
}